.Title{
    margin-left: 1000px;
    font-size: 60px;
    margin-top: -520px;
}

.text{
    margin-left: 1145px;
    font-size: 20px;
    margin-top: 10px;
}

.img{
    margin-top:0px ;
}

.button{
    margin-left: 1270px;
    margin-top: 10px;
    width:120px;
    padding: 10px;
    color: black;
    
}