.metodopago-container {
    margin-top: 2rem;
}

.back-button {
    font-size: 1.2rem;
    text-decoration: none;
}
.back-button:hover {
    background-color: #b180b7a5; /* Fondo iluminado */
}

h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

h4 {
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

p {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

button {
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
}