.login-container {
    display: flex;
    align-items: center;
    background-color: #fff5e1;
        height: 90vh;  /* Ajusta la altura al 100% de la pantalla */
}
.login-text {
    flex: 1
}
.login-text h2 {
    font-size: 6rem;
    margin-top: -350px;
    margin-left: 230px;
    font-family: 'Playfair Display', serif;
}
.login-form {
    flex: 1;
    background-color: #fff;
    padding:3rem;
    border-radius: 1rem;
    width: 450px;
    margin: 2rem;
    margin-right: 200px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.606);
}
.login-form .btn {
    width: 100%;
}
.d-flex {
    justify-content: space-between;
}