.servicios-container {
    height: 80vh;  /* Ajusta la altura al 100% de la pantalla */
    width: 90%; /* Ocupa todo el ancho de la pantalla */
}
.Servicio-card{
    width: 60%; /* Ajusta el ancho según sea necesario */
    max-width: 700px; /* Ajusta el ancho máximo según sea necesario */
    height: 28vh;
    margin: 2rem;
    border-radius: 0.7rem;
    
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.606);
    margin-top: 180px;
    margin-left: 1000px;
}
.Servicio-card:hover {
    transform: scale(1.1); /* Aumenta el tamaño al pasar el mouse */
    transition: transform 0.3s ease; /* Transición suave */
}
.img2{
height: 250PX;
width: 700;
}
.Title1{
    margin-left: 955px;
    font-size: 60px;
    margin-top: -800px; 
}
.text{
    font-size: 20px;
    text-align: justify;
}
.back1-button{
    margin-left: 1620px;
    margin-top: 20px;
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
}
.back1-button:hover {
    text-decoration: none;
    background-color: #b180b7a5; /* Fondo iluminado */
    transform: scale(1.2); /* Zoom al pasar el mouse */
}